<br><br>
<div class='active_items'>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Quantity</th>
      <th scope="col">Status</th>
      <th scope="col">Edit Item</th>
      <th scope="col">Delete Item</th>
    </tr>
  </thead>
    <% @items.each_with_index do |item, index| %>
  <tbody>
    <div class="item-<%=item.id%>">
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= item.quantity %></td>
      <td><%= item.status %></td>
      <td><%= button_to 'Edit', edit_item_path(item), method: :get, class: "btn btn-primary"%></td>
      <td><%= form_with url: "/items/#{item.id}?type=soft", method: :delete, local:true do |f|%>
          <%= f.text_field :comment, {placeholder: "Enter Optional Comment Here..." } %>
            </div>

        <%= f.submit "Delete", class: "btn btn-warning" %>
      <% end %></td>
    </tr>
    </div>
  </tbody>
  <% end %>
</table>
</div>