<h1>List of Items</h1>
<%= link_to 'Create New Item', new_item_path %>

<br><br>
<div class='active_items'>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Quantity</th>
      <th scope="col">Status</th>
      <th scope="col">Edit Item</th>
      <th scope="col">Delete Item</th>
    </tr>
  </thead>
    <% @items.each_with_index do |item, index| %>
  <tbody>
    <div class="item-<%=item.id%>">
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= item.quantity %></td>
      <td><%= item.status %></td>
      <td><%= button_to 'Edit', edit_item_path(item), method: :get, class: "btn btn-primary"%></td>
      <td><%= form_with url: "/items/#{item.id}?type=soft", method: :delete, local:true do |f|%>
          <%= f.text_field :comment, {placeholder: "Enter Optional Comment Here..." } %>
            </div>

        <%= f.submit "Delete", class: "btn btn-warning" %>
      <% end %></td>



    </tr>
    </div>
  </tbody>
  <% end %>
</table>
</div>

<br><br>
<h3>Deleted Items</h3>
<div class='deleted_items'>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Quantity</th>
      <th scope="col">Status</th>
      <th scope="col">Comment</th>
      <th scope="col">Restore Item</th>
      <th scope="col">Permanently Delete Item</th>
    </tr>
  </thead>
    <% @items.only_deleted.each_with_index do |item, index| %>
  <tbody>
    <div class="item-<%=item.id%>">
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= item.quantity %></td>
      <td><%= item.status %></td>
      <td><%= item.comment.content if item.comment %></td>
      <td><%= button_to 'Restore', "/items/#{item.id}?type=restore", method: :delete %></td>
      <td><%= button_to 'Delete', "/items/#{item.id}?type=permanent", method: :delete, :onclick => "return confirm('Are you sure you want to permanently delete this item?')", class: "btn btn-danger"%></td>
    </tr>
    </div>
  </tbody>
  <% end %>
</table>
</div>